*.a
*.o
*.tar.bz2
*.tar.gz
*~
.deps
.emacs*
.gdbinit
.grayupload
ABOUT-NLS
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
core
gnulib
m4
stamp-h1
